{% extends "project.html" %}
{% set title = "2019 New York Times Food Festival" %}
{% set tags = "Publication Design" %}
{% set year = "2019" %}
{% set hero = "front_2019+NYT+Food+Fest_NYT+Food+Festival+Print+Matter_2019_newspaper_01.jpg" %}

{% block description %}
<p>
  In collaboration with <a href="https://josephhan.com/" target="_blank">Joseph Han</a> at <a href="https://www.basedesign.com/" target="_blank">Base Design NYC</a> Jack worked on the <a href="https://www.basedesign.com/work/the-new-york-times-food-festival" target="_blank">branding campaign</a> for The New York Times’ inaugural <a href="https://www.nytimes.com/events/foodfestival-2022" target="_blank">Food Festival</a>. He made graphics like patterns and container shapes using the same visual language as the wordmark. Additionally, he created email templates, newspaper ads, magazine ads, and animated social media assets.
</p>

<div class="credits">
  <p>Joseph Han designed the identity while Jack made optical refinements to it, as well as other versions using different patterns. Newsprint matter design: Jack Fahnestock</p>
  <p>Some images courtesy of <a href="https://www.basedesign.com/" target="_blank">Base Design NYC</a>.</p>
</div>
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}