{% extends "project.html" %}
{% set title = "RISD Class of 2020 Yearbook" %}
{% set tags = "Editorial" %}
{% set year = "2020" %}
{% set hero = "exterior_3.jpg" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/flickity.css")}}>
{% endblock %}

{% block description %}
<p>
  Jack collaborated with the 2020 <a href="https://risdguild.com/" target="_blank">RISD Design Guild</a> team on the RISD Class of 2020 Yearbook. He also created a "2020" version of the official/alternate RISD seal originally designed by John Howard Benson, which is featured on the back of the book.
</p>

<div class="credits">
  <p>DESIGN: Jennifer Joung, Jack Halten Fahnestock, Tiger Dingsun, Corinne Ang. PHOTOGRAPHY: Anita Qian, Caius Chew, Mati Gavasheli, Josiah Gill, Alvin Yu, Isabel Fernandez-Pujol. ADDITIONAL HELP: Julie Alter, Labelle Chang, Madi Ko, Minji Koo, Soleil Singh, Amanda Yang</p>
</div>
{% endblock %}

{% block main %}
{{ super() }}
{% include 'includes/_flickity.html' %}
{% endblock %}