{% extends "project.html" %}
{% set title = "Feeeels Fuzzy Typeface" %}
{% set tags = "Untagged" %}
{% set year = "20XX" %}
{% set hero = "front_Feeeels+Fuzzy_Feeeels+Fuzzy+Typeface_2019_font_01.jpg" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/flickity.css")}}>
{% endblock %}

{% block description %}
<div>Description & credits not yet added.</div>
{% endblock %}

{% block main %}
{{ super() }}
{% include 'includes/_flickity.html' %}
{% endblock %}