{% extends "project.html" %}
{% set title = "NYT Food Fest Print Matter" %}
{% set tags = "Publication Design" %}
{% set year = "2019" %}
{% set hero = "front_NYT+Food+Fest_NYT+Food+Festival+Print+Matter_2019_newspaper_01.jpg" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/flickity.css")}}>
{% endblock %}

{% block content %}
<div class="col-wrapper">
  <div class="col project-description" onClick="more(this)">
    <p>
      In collaboration with <a href="https://josephhan.com/" target="_blank">Joseph Han</a> at <a href="https://www.basedesign.com/" target="_blank">Base Design NYC</a> Jack worked on the <a href="https://www.basedesign.com/work/the-new-york-times-food-festival" target="_blank">branding campaign</a> for The New York Times’ inaugural Food Festival, creating email templates, newspaper and magazine ads, and animated social media assets.
    </p>

    <div class="credits">
      <p>Letterform design: Joseph Han with optical refinements by Jack. Newsprint matter design: Jack</p>
      <p>Images courtesy of <a href="https://www.basedesign.com/" target="_blank">Base Design NYC</a></p>
    </div>
    
  </div>

  <div class="col project-images">
    <img src='{{img_url + base_url + "front_NYT+Food+Fest_NYT+Food+Festival+Print+Matter_2019_newspaper_02.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_NYT+Food+Fest_NYT+Food+Festival+Print+Matter_2019_newspaper_03.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_NYT+Food+Fest_NYT+Food+Festival+Print+Matter_2019_newspaper_04.jpg"}}' alt=""/>
  </div>
</div>
{% endblock %}

{% block main %}
{{ super() }}
{% include 'includes/_flickity.html' %}
{% endblock %}