{% extends "project.html" %}
{% set title = "RISD 1877 Graphic Tee" %}
{% set tags = "Type Design" %}
{% set year = "2020" %}
{% set hero = "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_01.jpg" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/flickity.css")}}>
{% endblock %}

{% block content %}
<div class="col-wrapper">
  <div class="col project-description" onClick="more(this)">
    <p>
      <i>Documentation write-up not yet added.</i>
    </p>

    <div class="credits">
      <p>Design, screen-printing, documentation: Jack Fahnestock.</p>
      <p>Based on an offical, alternate/secondary seal of the Rhode Island School of Design made by John Howard Benson.</p>
    </div>
  </div>

  <div class="col project-images">
    <img src='{{img_url + base_url + "front_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_02.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_03.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_04.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_05.png"}}' alt=""/>

    <img src='{{img_url + base_url + "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_06.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_07.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_08.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "_RISD+T-Shirt_RISD+1877+T-Shirt+(Winter+Holiday+Version)_2020_apparel+risd_09.jpg"}}' alt=""/>
  </div>
</div>
{% endblock %}

{% block main %}
{{ super() }}
{% include 'includes/_flickity.html' %}
{% endblock %}