{% extends "project.html" %}
{% set title = "Shoplifters 10 Graphic Design" %}
{% set tags = "Graphic Design" %}
{% set year = "2021" %}
{% set base_url = "img/" + project + "/" %}
{% set hero = "front_Shoplifters+10+Graphic+Design_2021_graphic+design_06.jpg" %}
{% set L = "_Shoplifters+10+Graphic+Design_2021_graphic+design_" %}

{% set img_list = [
  L + "01",
  L + "02",
  L + "03",
  L + "04",
  L + "05",
  "front" + L + "06",
  L + "07",
  L + "08",
  L + "09",
  L + "10",
  L + "11",
  L + "12",
  L + "13",
  L + "14",
  L + "15",
  L + "16",
  L + "17",
  L + "18",
  L + "19",
  L + "20",
  L + "21",
  L + "22",
  L + "23",
  L + "24",
] %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/flickity.css")}}>
{% endblock %}

{% block content %}
<div class="col-wrapper">
  <div class="col project-description" onClick="more(this)">
    <p>
      <i>Documentation write-up not yet added.</i>
    </p>

    <div class="credits">
      <p>
        Graphic Design: Jack Fahnestock.
      </p>
  
      <p>
        Images from <a href="https://actualsource.org/products/copy-of-shoplifters-10-new-type-design-vol-2" target="_blank">Shoplifters Issue 10: New Type Design Vol. 2</a>, courtesy of <a href="http://actualsource.work/" target="_blank">Actual Source</a>.
      </p>
    </div>
  </div>

  <div class="col project-images">
    <div class="carousel">
      {% for img in img_list %}
      <div class="carousel-cell">
        <img src='{{url_for("static", filename=base_url + img + ".jpg")}}' alt=""/>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
{{ super() }}
{% include 'includes/_flickity.html' %}
{% endblock %}