{% extends "project.html" %}
{% set title = "Shoplifters 10" %}
{% set tags = "Graphic Design" %}
{% set year = "2021" %}
{% set hero = "front_Shoplifters+10+Graphic+Design_2021_graphic+design_06.jpg" %}
{% set L = "_Shoplifters+10+Graphic+Design_2021_graphic+design_" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/flickity.css")}}>
{% endblock %}

{% block description %}
<div>Description not yet added.</div>

<div class="credits">
  <p>
    Graphic Design: Jack Fahnestock. Images from <a href="https://actualsource.org/products/copy-of-shoplifters-10-new-type-design-vol-2" target="_blank">Shoplifters Issue 10: New Type Design Vol. 2</a>, courtesy of <a href="http://actualsource.work/" target="_blank">Actual Source</a>.
  </p>
</div>
{% endblock %}

{% block main %}
{{ super() }}
{% include 'includes/_flickity.html' %}
{% endblock %}