{% extends "project.html" %}
{% set title = "Tessa Branding" %}
{% set tags = "Untagged" %}
{% set year = "20XX" %}
{% set hero = "front_Tessa_Tessa+Restaurant+Menus+Fronts_2017_menu_01.jpg" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/flickity.css")}}>
{% endblock %}

{% block content %}
<div class="col-wrapper">
  <div class="col project-description" onClick="more(this)">
    <p>
      <i>Documentation write-up not yet added.</i>
    </p>

    <!-- <div class="credits">
      <p>Design, screen-printing, documentation: Jack Fahnestock.</p>
    </div> -->
  </div>

  <div class="col project-images">
    <img src='{{img_url + base_url + "front_Tessa_Tessa+Restaurant+Menus+Fronts_2017_menu_01.jpg"}}' alt=""/>

    <img src='{{img_url + base_url + "Tessa_Tessa+Restaurant+Menus+Backs_2017_menu_01.jpg"}}' alt=""/>
  </div>
</div>
{% endblock %}

{% block main %}
{{ super() }}
{% include 'includes/_flickity.html' %}
{% endblock %}