.about {
  padding: 0 calc(var(--margin) - 0.5em);
}

  .about a {
    line-height: 1;
    border-radius: 8px;
    padding: 0 0.225em 0.1em;
    margin: 0.075em 0;
  }

  .about section {
    width: 100%;
    padding: 1.5em 0;
    /* background-color: gray; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    .about section + section {
      /* margin-top: 1em; */
      border-top: 2px solid currentColor;
    }

    section h3 {
      padding-bottom: 1.5em;
    }

  @media (min-width: 960px)  {
    .about section {
      flex-direction: row;
    }

    section h3,
    section div {
      /* includes middle cutter */
      width: calc(50% - 0.375em);
      /* background-color: red; */
    }
  }

  /* @media (min-width: 1600px)  {
    section h3 {
      width: calc(33.333% - 0.375em);
    }

    section div {
      includes middle cutter
      width: calc(66.666% - 0.375em);
    }
  } */

  .about p + p {
    margin-top: 1em;
  }

  .workexp + .workexp {
    margin-top: 1em;
  }

  .jobtitle {
    margin-left: 1em;
  }

  .projects li {
    margin-left: 2em;
  }

    .projects::before {
      content: "Projects: ";
      text-transform: uppercase;
      margin-left: 1em;
    }