.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .about a {
    line-height: 1;
    border-radius: 8px;
    padding: 0 0.225em 0.1em;
    margin: 0.075em 0;
  }

  .about section {
    width: 100%;
    padding: 0.125em 0.25em;
    /* background-color: gray; */
    box-sizing: border-box;
  }

    .about section + section {
      margin-top: 1em;
    }

  @media (min-width: 960px)  {
    .about {
      flex-direction: row;
    }

    .about section {
      width: 49%;
    }

      .about section + section {
        margin-top: 0;
      }
  }

  .about h3 {
    /* text-transform: uppercase; */
    border-bottom: 2px solid currentColor;
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
  }

  .about p + p, .about p + h3, .about ul + h3 {
    margin-top: 1em;
  }

  .workplace + .workplace {
    margin-top: 0.5em;
  }

  .work-details, .work-projects li {
    margin-left: 1em;
  }

    .work-projects::before {
      content: "Projects: ";
      text-transform: uppercase;
    }