:root {
  --text: black;
  --bg: #fc0;
  --blue: steelblue;
  --anim: cubic-bezier(0, 1, 0.5, 1.3);
  --x-margin: 0.5em;
  --radius: 12px;
  --border-color: rgba(0, 0, 0, .15);
  --border-color-active: rgba(0, 0, 0, .5);
}

body {
  color: var(--text);
  /* "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont */
  font: 4.5vw/1.2 "SF Pro Text", system-ui, -apple-system, BlinkMacSystemFont, arial, 'helvetica neue', helvetica, sans-serif;
  /* letter-spacing: 0.04em; */
  background: var(--bg);
  hyphens: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

  @media (min-width: 320px)  {body {font-size: 3.75vw}}
  @media (min-width: 640px)  {body {font-size: 3vw}}
  @media (min-width: 960px)  {body {font-size: 2vw}}
  @media (min-width: 1280px) {body {font-size: 1.6em}}
  /* @media (min-width: 1280px) {body {font-size: 1.75vw}}
  @media (min-width: 1600px) {body {font-size: 1.5vw}}
  @media (min-width: 1920px) {body {font-size: 1.25vw}}
  @media (min-width: 2240px) {body {font-size: 1vw}} */

a {
  color: currentColor;
  
}

a[href*="//"]:not([href*="jckfa.com"])::after {
  content: "↗";
  text-decoration: none;
  display: inline-block;
  /* position: relative;
  top: -0.5em;
  margin-right: -0.5em;
  font-size: 75%;
  font-weight: bold; */
}

i {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

main {
  padding: 0.375em var(--x-margin);
  /* background-color: green; */
  box-sizing: border-box;
}

main p {
  max-width: 35em;
  /* background-color: green; */
}

h1 {
  font-size: 2em;
}

.page-title {
  padding: 0 0.25em;
  margin-bottom: 0.5em;
}