.contact {
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--margin) - 0.25em * 2 - var(--btn-gap));
  /* padding: 0 calc(var(--margin) - var(--btn-gap)); */
}

.contact .btn {
  text-align: center;
  padding-top:    16vh;
  padding-bottom: 16vh;
}

  @media (min-width: 960px)  {
    .contact {
      flex-direction: row;
    }
    
      .contact .btn {
        width: 50%;
      }
  }