
.contact-btns {
  display: flex;
  flex-direction: column;
}

.contact-btn {
  width: 100%;
  text-align: center;
  /* background-color: #aaa; */
  width: 100%;
  padding: 16vh 0.25em;
  margin: 0.25em 0.25em;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
  transition: border-color 200ms var(--anim);
  /* transition: transform 200ms var(--anim); */
}

  @media (min-width: 960px)  {
    .contact-btn:hover {
      /* transform: translateY(-3px); */
      border-color: var(--border-color-active);
    }

    .contact-btns {
      flex-direction: row;
    }

    .contact-btn {
      width: 50%;
    }
  }