
.contact-btns {
  display: flex;
  flex-direction: column;
}

.contact-btn {
  color: var(--btn-text-color);
  width: 100%;
  text-align: center;
  /* background-color: #aaa; */
  width: 100%;
  padding: 16vh 0.25em;
  margin: 0.25em 0.25em;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  outline: 2px solid transparent;
  background-color: var(--btn-color);
  border-radius: var(--radius);
  transition: outline-color 200ms var(--anim);
  /* transition: transform 200ms var(--anim); */
}

  @media (min-width: 960px)  {
    .contact-btn:hover {
      /* transform: translateY(-3px); */
      outline-color: var(--border-color);
    }

    .contact-btns {
      flex-direction: row;
    }

    .contact-btn {
      width: 50%;
    }
  }