footer {
  padding: 0 calc(var(--margin) - var(--btn-gap));
  margin-top: 4em;
  /* background-color: gray; */
}

  .footer-links {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
    .footer-links .btn {
      width: calc(100% - var(--btn-gap) * 2);
      text-align: center;
    }

  .site-credit {
    text-align: center;
    max-width: 36em;
    margin: 0.75em auto;
    /* background-color: gray; */
  }

  @media (min-width: 320px) {
    .footer-links {
      flex-direction: row;
    }
    
    .footer-links .btn {
      width: calc(50% - var(--btn-gap) * 2);
    }
  }

  @media (min-width: 640px) {
    .site-credit {
      font-size: 0.9em;
    }
  }

  @media (min-width: 1280px)  {
    .footer-links .btn {
      width: calc(25% - var(--btn-gap) * 2);
    }
  }