footer {
  padding: 0.5em;
  margin: 4em 0 0.25em;
  /* background-color: gray; */
  box-sizing: border-box;
}

  .footer-list {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  footer li {
    width: 100%;
    padding: 0.25em;
    box-sizing: border-box;
  }

  .footer-list a {
    color: var(--text);
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-color: #aaa; */
    box-sizing: border-box;
    display: block;
    outline: 2px solid var(--outline);
    background-color: var(--btn);
    border-radius: var(--radius);
    padding: var(--x-margin) 0.25em;
    text-decoration: none;
    transition: background-color 100ms ease-in-out;
  }

  .site-credit {
    text-align: center;
    max-width: 36em;
    margin: 1em auto 0;
    /* background-color: gray; */
  }

  @media (min-width: 320px) {
    .footer-list {
      flex-direction: row;
    }
    
    .footer-list li {
      width: 50%;
    }
  }

  @media (min-width: 640px) {
    .footer-list a {
      padding: var(--x-margin) calc(var(--x-margin) + 0.25em);
    }

    .site-credit {
      font-size: 0.8em;
      /* font-weight: bolder; */
    }
  }

  @media (min-width: 960px)  {
    .footer-list {
      flex-direction: row;
    }
      
      .footer-list a:hover {
        background-color: transparent;
      }
  }

  @media (min-width: 1280px)  {
    .footer-list li {
      width: 25%;
    }
  }