header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--btn);
  padding: calc(var(--margin) - var(--btn-gap));
  margin-bottom: 4em;
  box-sizing: border-box;
}

.logo-and-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.logo {
  width: 8em;
  /* background-color: red; */
  line-height: 0.7;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
  margin: var(--btn-gap);
}

  @media (min-width: 960px) {
    .logo:hover {
      opacity: 0.75;
    }
  }

.menu svg {
  fill: var(--text);
  height: 1em;
  width: 1em;
  display: block;
}

nav, .button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* column-gap: calc(var(--btn-gap) * 2); */
}

  .active {
    background-color: var(--bg);
  }

  .btn-sort {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border-radius: 100px;
  }

    .btn-sort:active,
    .btn-sort.is-checked {
      background-color: transparent;
    }

  @media (min-width: 640px) {
    .button-group {
      order: 2;
      margin-top: 0;
    }

    nav {
      order: 3;
    }
  }

  @media (min-width: 960px) {
    header, nav {
      width: auto;
      flex-direction: row;
    }

    header {
      background-color: transparent;
    }

    nav, .logo-and-menu {
      width: auto;
    }

    .logo-and-menu {
      margin-bottom: 0;
    }

    .menu {
      display: none;
    }
  }

  @media (max-width: 960px) {
    .hidden {
      height: 0;
      transition: height 200ms ease-in-out;
      overflow: hidden;
    }
  }