header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: gray; */
  margin-top: 0.5em;
}

  @media (min-width: 640px) {
    header {
      flex-direction: row;
    }
  }

nav {
  order: 1;
  margin-bottom: 2em;
}

  @media (min-width: 640px) {
    nav {
      order: 2;
      margin-bottom: 0;
    }
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    /* background-color: gray; */
    padding: var(--x-margin) calc(var(--x-margin) + 0.25em);
    transition: transform 200ms cubic-bezier(0,1.6,.7,1.6);
  }

    nav a:hover {
      transform: scale(1.2);
    }

    .active {
      /* text-decoration: underline; */
      text-decoration: none;
      position: relative;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: var(--radius);
    }

.button-group, .path {
  display: flex;
  padding: 0 calc(var(--x-margin) + 0.25em);
  order: 1;
  /* background-color: gray; */
}

.path {
  padding: var(--x-margin) calc(var(--x-margin) + 0.25em);
  /* color: blue; */
  text-transform: uppercase;
}

  .home {
    display: inline-block;
  }

  .separator {
    padding: 0 0.25em;
  }

  .button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    /* display: inline-block; */
    background: none;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border: 2px solid transparent;
    border-radius: var(--radius);
    transition: 100ms ease-in-out;
  }

  .button + .button {
    margin-left: 0.25em;
  }

  /* .button:hover {
    border-color: var(--text);
  } */

  .button:active,
  .button.is-checked {
    border-color: var(--text);
  }

  .button:active {
    transform: scale(1.1);
  }