header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: gray; */
  padding: 0 calc(var(--margin) - var(--btn-gap));
  margin: calc(var(--margin) - var(--btn-gap)) 0 2em;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  header .btn {
    padding: var(--btn-pad) 0.25em;
  }
}

/* .home {
  text-transform: uppercase;
} */

.logo {
  width: 8em;
  /* background-color: red; */
  line-height: 0.7;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
  margin: var(--btn-gap);
}

  @media (min-width: 960px) {
    .logo:hover {
      opacity: 0.75;
    }
  }

nav, .button-group {
  display: flex;
}

  .active {
    background-color: var(--bg);
  }

  .btn-sort {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border-radius: 100px;
  }

    .btn-sort:active,
    .btn-sort.is-checked {
      background-color: transparent;
    }

  @media (min-width: 640px) {
    .button-group {
      order: 2;
      margin-top: 0;
    }

    nav {
      order: 3;
    }
  }