.project {
  /* padding: 0 0.25em; */
  /* margin-bottom: 2em; */
}

  .notice {
    /* color: var(--btn-text-color); */
    color: var(--text);
    text-decoration: none;
    /* color: var(--page-bg-color); */
    /* background-color: var(--page-text-color); */
    border: 2px solid currentColor;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: var(--radius);
    padding: 0.75em 1em;
    margin: 0 0.25em;
    display: inline-block;
    transition: 100ms ease-in-out;
  }

    @media (min-width: 960px)  {
      .notice:hover {
        /* background-color: var(--btn-color); */
        background-color: rgba(0, 0, 0, 0.05);
        background-color: transparent;
      }
    }

  .totop {
    text-align: center;
    border-radius: 100px;
    margin-top: 4em;
  }

    .totop .notice {
      border-radius: 100px;
    }

  .hero {
    height: 80vh;
    background-size: contain;
    background-position: center;
    /* background-color: red; */
    margin: 0 0.25em;
  }

  .positioner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
  }

    @media (min-width: 960px)  {
      .positioner {
        flex-direction: row;
      }
    }
    
    .positioner img,
    .positioner p {
      width: 100%;
      padding: 0.25em;
      box-sizing: border-box;
    }

      @media (min-width: 960px)  {
        .positioner img,
        .positioner > p,
        .positioner > div {
          width: 50%;
          /* background-color: red; */
        }

        .positioner.full img {
          width: 100%;
        }

        .positioner.medium img,
        .positioner.medium > p,
        .positioner.medium > div {
          width: 30%;
          /* background-color: red; */
        }
      }

  .project p + p,
  .project p + a,
  .project a + p,
  .notice {
    margin-top: 1em;
  }