.notice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.notice {
  width: 100%;
  color: var(--accent-text);
  background-color: var(--accent-bg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 0.5em;
  margin: 0 0.25em 0.75em;
  display: flex;
  align-items: center;
}

  .notice svg {
    width: 1.6em;
    height: 1.6em;
    flex-shrink: 0;
    margin-right: 0.5em;
    fill: currentColor;
  }

  .notice p {
    max-width: none;
  }

  .notice .btn-lite {
    color: inherit;
    background-color: var(--accent-btn);
    border-color: var(--accent-outline);
  }

  /* @media (min-width: 640px) {
    .notice svg {
      width:  2em;
      height: 2em;
    }
  } */

  @media (min-width: 960px) {
    /* .notice svg {
      width:  3em;
      height: 3em;
    } */

    .notice a:hover {
      background-color: var(--accent-bg);
    }
  }

  @media (min-width: 1280px) {
    .notice-wrapper {
      display: flex;
      flex-direction: row;
    }

    /* .notice {
      width: 50%;
    } */

    /* .notice svg {
      width:  2em;
      height: 2em;
    } */
  }

.grid {
  width: 100%;
  /* background-color: red; */
}

.grid-item {
  width: 100%;
  padding: 0.125em 0.25em;
  margin-bottom: 1.5em;
  box-sizing: border-box;
}

  @media (min-width: 640px)  {.grid-item {width: 50%}}
  @media (min-width: 960px)  {.grid-item {width: 33.333%}}
  @media (min-width: 1280px) {.grid-item {width: 25%}}
  @media (min-width: 1600px) {.grid-item {width: 20%}}
  @media (min-width: 1920px) {.grid-item {width: 16.666%}}
  @media (min-width: 2240px) {.grid-item {width: 14.2857%}}

  .grid-item a {
    text-decoration: none;
  }

  .grid-item img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow, transform 200ms var(--anim);
  }

  @media (min-width: 960px)  {
    .notice-wrapper, .grid-item {
      margin-bottom: 0.5em;
    }

    .grid-item:hover {
      z-index: 100;
    }

    .grid-item:hover img {
      transform: scale(1.2);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }

  .caption {
    width: 100%;
    /* font-size: 0.8em; */
    /* background-color: gray; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }