<footer>
  <div class="footer-links">
    <a class="btn" target="_blank" href='https://instagram.com/jckfa'>Instagram</a>
    <a class="btn" target="_blank" href='https://github.com/jckfa'>GitHub</a>
    <a class="btn" target="_blank" href='https://www.linkedin.com/in/jckfa'>LinkedIn</a>
    <a class="btn" target="_blank" href='mailto:mail@jckfa.com'>Email</a>
  </div>

  <p class="site-credit">
    Built with Flask. <a target="_blank" href="https://github.com/jckfa/jckfa.com">Source code on GitHub</a>.
  </p>
</footer>