<footer>
  <ul class="footer-list">
    <li>
      <a href='https://instagram.com/jckfa' target='_blank'>Instergran</a>
    </li>
    <li>
      <a href='https://github.com/jckfa' target='_blank'>GitHubby</a>
    </li>
    <li>
      <a href='https://www.linkedin.com/in/jckfa' target='_blank'>LinkedOut</a>
    </li>
    <li>
      <a href='mailto:mail@jckfa.com' target='_blank'>E-male</a>
    </li>
  </ul>

  <p class="site-credit">
    Built with Flask. <a href="https://github.com/jckfa/jckfa.com" target="_blank">Source code on GitHubby</a>.
  </p>
</footer>