{% set nav = [
  ('/', 'index', 'Work'),
  ('/about', 'about', 'About')
] -%}
{% set active_page = active_page -%}

<header>
  <nav>
    <ul>
      {% for href, id, title in nav %}
      <li>
        <a href="{{ href | e }}" {% if id == active_page %}class="active"{% endif %}>
          {{ title | e }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  
  {% if request.path == "/" %}
  <div class="button-group filters-button-group">
    <button class="button is-checked" data-filter="*">All</button>
    <button class="button" data-filter="._font">Type</button>
  </div>
  {% else %}
  <div class="path">
    {{request.path
      .replace("/", "", 1)
      .replace("/", " / ")
      .replace("+", " ")
      | capfirst}}
  </div>
  {% endif %}
</header>