<!DOCTYPE html>
<html lang="en" id="top">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="{% block desc %}The graphic design and type design practice of Jack Fahnestock.{% endblock %}">
  <meta name="theme-color" content="ffcc00">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}">
  <link rel="apple-touch-icon" href="{{url_for('static', filename='img/favicon.png')}}">
  <!-- <link rel="manifest" href=""> -->

  <title>{% block title %}JCKFA{% endblock %}</title>

  <meta property="og:title" content="{{ self.title() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://jckfa.com">
  <!-- <meta property="og:image" content=""> -->
  <meta property="og:site_name" content="{{ self.title() }}">
  <meta property="og:description" content="{{ self.desc() }}">

  <!-- BASE CSS -->
  <link rel="stylesheet" href={{url_for("static", filename="css/reset.css")}}>
  <link rel="stylesheet" href={{url_for("static", filename="css/base.css")}}>
  <link rel="stylesheet" href={{url_for("static", filename="css/header.css")}}>
  <link rel="stylesheet" href={{url_for("static", filename="css/footer.css")}}>
  <link rel="stylesheet" href="https://use.typekit.net/jsh7hsz.css">

  <!-- ADDITIONAL ASSETS (if any) -->
  {% endblock %}
</head>
<body>
  {% include 'includes/_header.html' %}

  <main>
    {% block main %}
    {% endblock %}
  </main>

  {% if request.path != "/" %}
    {% include 'includes/_footer.html' %}
  {% endif %}
  
  {% block scripts %}
  {% endblock %}
</body>
</html>