<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="{% block desc %}A graphic designer and type designer, with strong literacy in frontend and backend software development.{% endblock %}">
  <!-- <meta name="theme-color" content="ffff00"> -->
  <!-- <link rel="shortcut icon" href=""> -->
  <!-- <link rel="apple-touch-icon" href=""> -->
  <!-- <link rel="manifest" href=""> -->

  <title>{% block title %}Jack Fahnestock{% endblock %}</title>

  <meta property="og:title" content="{{ self.title() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://jackf.me">
  <!-- <meta property="og:image" content=""> -->
  <meta property="og:site_name" content="{{ self.title() }}">
  <meta property="og:description" content="{{ self.desc() }}">

  <!-- BASE CSS -->
  <link rel="stylesheet" href={{url_for("static", filename="css/reset.css")}}>
  <link rel="stylesheet" href={{url_for("static", filename="css/base.css")}}>
  <link rel="stylesheet" href={{url_for("static", filename="css/nav.css")}}>
  <!-- <link rel="stylesheet" href={{url_for("static", filename="css/header.css")}}> -->
  <!-- <link rel="stylesheet" href={{url_for("static", filename="css/footer.css")}}> -->

  <!-- Additional assets (if any) -->
  {% endblock %}
</head>
<body>
  {% include 'includes/_nav.html' %}
  <!-- {% include 'includes/_header.html' %} -->

  <main>
    {% block main %}
    {% endblock %}
  </main>

  {% include 'includes/_footer.html' %}
  
  {% block scripts %}
  <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
  <!-- <script src="https://unpkg.com/draggabilly@3/dist/draggabilly.pkgd.min.js"></script> -->
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <script>
    // init Packery
    var grid = document.querySelector('.grid');
    var pckry = new Packery(grid, {
      itemSelector: '.grid-item',
      percentPosition: true });

    // init Draggabilly
    pckry.getItemElements().forEach( function( itemElem ) {
      var draggie = new Draggabilly( itemElem );
      pckry.bindDraggabillyEvents( draggie );
    });

    // layout Packery after each image loads
    imagesLoaded(grid).on('progress', function () {
      pckry.layout();
    });
  </script>
  {% endblock %}
</body>
</html>