{% extends "includes/base.html" %}
{% set active_page = "about" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/about.css")}}>
{% endblock %}

{% block main %}
  <p><span class='uppercase'>Jack Fahnestock</span> is a graphic designer and type designer based in Providence, RI (USA). <i>(1) Work experience:</i> <a href='http://actualsource.work/' target='_blank' rel='noopener noreferrer'>Actual Source</a>, <a href='https://www.basedesign.com/' target='_blank' rel='noopener noreferrer'>Base Design</a>, <a href='http://www.verdes.nyc/' target='_blank' rel='noopener noreferrer'>Verdes</a>. <i>(2) Education:</i> BFA Graphic Design, <a href='https://risd.edu' target='_blank' rel='noopener noreferrer'>RISD</a>, 2020 <i>(3) Availability:</i> <span class='uppercase'> currently available for freelance projects</span> <i>(4) Other:</i> <a href='https://instagram.com/jckfa' target='_blank' rel='noopener noreferrer'>Insta</a>, <a href='https://drive.google.com/file/d/1IfMNUmnaTWWpmJxZxgkoI95lt5CP2oz_/view?usp=sharing' target='_blank' rel='noopener noreferrer'>CV</a>, <a href='mailto:mail@jackf.me'>mail@jackf.me</a></p>
{% endblock %}