{% extends "includes/base.html" %}
{% set active_page = "about" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/about.css")}}>
{% endblock %}

{% block main %}
<div class="about">
  <section>
    <h3 class="section-title">About</h3>
    <div class="section-content">
      <div class="about-content">
        <p>
          <span class='uppercase'>Jckfa</span> is the commercial design practice of <span class='uppercase'>Jack Fahnestock</span>. Jack previously worked (remotely) for <a href="https://www.media.mit.edu/groups/poetic-justice/overview/" target="_blank">Poetic Justice Group</a> at <a href="https://www.media.mit.edu/" target="_blank">MIT Media Lab</a> in Boston, MA (USA). Find a PDF of <a href="https://drive.google.com/file/d/1IfMNUmnaTWWpmJxZxgkoI95lt5CP2oz_/view" target="_blank">his CV here</a> (he's also on <a target="_blank" href='https://www.linkedin.com/in/jckfa'>LinkedIn</a>) and a PDF of <a href="https://drive.google.com/file/d/1Z_-a0Z0jqLpjMya_THkk-uwhr92c0HNC/view?usp=sharing" target="_blank">his work here</a>.
        </p>
        <!-- <p>
          Jack is currently looking for a full-time position. Remote or in New York. He’s also currently available for freelance graphic design and type design / lettering projects. Email him at <a href='mailto:mail@jackf.me'>mail@jackf.me</a> or DM him on <a href='https://instagram.com/jckfa' target='_blank' rel='noopener noreferrer'>Instagram</a>.
        </p> -->
      </div>
    </div>
  </section>

  <section>
    <h3 class="section-title">Work Experience</h3>
    <div class="section-content">
      <div class="workexp">
        <h4 class="workplace">
          <a href="https://www.media.mit.edu/groups/poetic-justice/overview/" target="_blank">Poetic Justice Group</a> at <a href="https://www.media.mit.edu/" target="_blank">MIT Media Lab</a> <span class="break">(Remote)</span>
        </h4>

        <div class="jobtitle">
          <p>Graphic Designer, Frontend Developer, Researcher <span class="break">(Contractor, Full-time),</span> <span class="break">Sept 2021–Aug 2022</span></p>
        </div>

        <ul class="projects">
          <li><a href="#" target="_blank">A-Counting</a> (frontend dev)</li>
          <li><a href="#" target="_blank">Real Talk Radio</a> (design, frontend dev)</li>
          <li><a href="#" target="_blank">Freedom Radio</a> (design)</li>
        </ul>
      </div>

      <div class="workexp">
        <h4 class="workplace">
          <a href='http://actualsource.work/' target='_blank' rel='noopener noreferrer'>Actual Source</a> <span class="break">(Remote)</span>
        </h4>

        <div class="jobtitle">
          <p>Graphic Designer <span class="break">(Contractor, Full-time),</span> <span class="break">April–June 2021</span></p>
        </div>

        <ul class="projects">
          <li><a href="#" target="_blank">Shoplifters 10 (Graphic Design)</a></li>
          <li><a href="#" target="_blank">Shoplifters 10 (Benson Interview)</a></li>
          <li><a href="#" target="_blank">AS Thermal</a> (production)</li>
          <li><a href="#" target="_blank">Independent Co. Identity</a></li>
        </ul>
      </div>

      <div class="workexp">
        <h4 class="workplace">
          <a href='https://www.basedesign.com/' target='_blank' rel='noopener noreferrer'>Base Design</a> <span class="break">(NYC)</span>
        </h4>

        <div class="jobtitle">
          <p>Graphic Designer <span class="break">(Internship),</span> <span class="break">Summer 2019</span></p>
        </div>

        <ul class="projects">
          <li><a href="#" target="_blank">NYT Food Festival</a> (branding)</li>
        </ul>
      </div>

      <div class="workexp">
        <h4 class="workplace">
          <a href='http://www.verdes.nyc/' target='_blank' rel='noopener noreferrer'>Verdes</a> (now <a href='http://www.combo.co/' target='_blank' rel='noopener noreferrer'>Combo</a>) <span class="break">(NYC)</span>
        </h4>

        <div class="jobtitle">
          <p>Graphic Designer <span class="break">(Internship),</span> <span class="break">Summer 2018</span></p>
        </div>

        <ul class="projects">
          <li><a href="#" target="_blank">TINY Pop-Up Shop</a> (concept, design, production, execution)</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h3 class="section-title">Formal Education</h3>
    <div class="section-content">
      <ul>
        <li class="workexp">
          <h4 class="workplace">
            <a href='https://risd.edu' target='_blank' rel='noopener noreferrer'>Rhode Island School of Design</a>
          </h4>

          <div class="jobtitle">
            <p>BFA Graphic Design, <span class="break">2020</span></p>
          </div>

          <ul class="projects">
            <li><a href="#">Class of 2020 Yearbook</a></li>
            <li><a href="#">Not Trajan™ Exhibition</a></li>
            <li><a href="#">Halloween Poster</a></li>
            <li><a href="#">Post-Contact</a></li>
            <li><a href="#">Untitled (Letterpess Poster)</a></li>
            <li><a href="#">RISD 1877 T-Shirt</a></li>
          </ul>
        </li>
        <li class="workexp">
          <h4 class="workplace">
            <a href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
          </h4>

          <div class="jobtitle">
            <p>(Graphic Design), <span class="break">2014–2017</span></p>
          </div>

          <ul class="projects">
            <li>No projects at this time.</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}