{% extends "includes/base.html" %}
{% set active_page = "about" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/about.css")}}>
{% endblock %}

{% block main %}
<div class="page-title">
  <h1>Who the fuck?</h1>
</div>
<div class="about">
  <section>
    <p>
      <span class='uppercase'>Jckfa</span> is the graphic design and type design practice of <span class='uppercase'>Jack Fahnestock</span>. Jack is currently living in Providence, RI (USA) and working remotely for <a href="https://www.media.mit.edu/groups/poetic-justice/overview/" target="_blank">Poetic Justice Group</a> at <a href="https://www.media.mit.edu/" target="_blank">MIT Media Lab</a> in Boston, MA (USA).
    </p>

    <h2>Availability</h2>
    <p>
      Jack is <span class='uppercase'>currently available</span> for freelance projects. <a href='mailto:mail@jckfa.com'>Email him at mail@jckfa.com</a> or DM him on <a href='https://instagram.com/jckfa' target='_blank' rel='noopener noreferrer'>Instagram</a>.
    </p>

    <h2>Other</h2>
    <ul>
      <li>
        <a href='https://instagram.com/jckfa' target='_blank' rel='noopener noreferrer'>@jckfa on Instagram</a>
      </li>
      <li>
        <a href='https://twitter.com/jckfa' target='_blank' rel='noopener noreferrer'>@jckfa on Twitter</a>
      </li>
      <li>
        <a href='https://github.com/jckfa' target='_blank' rel='noopener noreferrer'>@jckfa on GitHub</a>
      </li>
      <li>
        <a href='https://drive.google.com/file/d/1IfMNUmnaTWWpmJxZxgkoI95lt5CP2oz_/view?usp=sharing' target='_blank' rel='noopener noreferrer'>CV (PDF)</a>
      </li>
      <li>
        <a href='mailto:mail@jckfa.com'>mail@jckfa.com</a>
      </li>
    </ul>
  </section>

  <section class="work-exp">
    <h2>Work Experience</h2>
    <ul>
      <li class="workplace">
        <h3>
          <a href="https://www.media.mit.edu/groups/poetic-justice/overview/" target="_blank">Poetic Justice Group</a> (Remote) at <a href="https://www.media.mit.edu/" target="_blank">MIT Media Lab</a>
        </h3>
        <ul class="work-details">
          <li class="work-position">
            Graphic Designer & Frontend Developer (contractor, full-time), Sept 2021–Present
          </li>
          <li class="work-projects">
            <ul>
              <li><a href="#" target="_blank">A-Counting</a> (frontend dev)</li>
              <li><a href="#" target="_blank">Real Talk Radio</a> (design, frontend dev)</li>
              <li><a href="#" target="_blank">Freedom Radio</a> (design)</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="workplace">
        <h3>
          <a href='http://actualsource.work/' target='_blank' rel='noopener noreferrer'>Actual Source</a> (Remote)
        </h3>
        <ul class="work-details">
          <li class="work-position">
            Graphic Designer (contractor, full-time), April–June 2021
          </li>
          <li class="work-projects">
            <ul>
              <li><a href="#" target="_blank">Shoplifters 10 (Graphic Design)</a></li>
              <li><a href="#" target="_blank">Shoplifters 10 (Benson Interview)</a></li>
              <li><a href="#" target="_blank">AS Thermal</a> (production)</li>
              <li><a href="#" target="_blank">Independent Co. Identity</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="workplace">
        <h3>
          <a href='https://www.basedesign.com/' target='_blank' rel='noopener noreferrer'>Base Design</a> (NYC)
        </h3>
        <ul class="work-details">
          <li class="work-position">
            Design Intern, Summer 2018
          </li>
          <li class="work-projects">
            <ul>
              <li><a href="#" target="_blank">NYT Food Festival</a> (branding)</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="workplace">
        <h3>
          <a href='http://www.verdes.nyc/' target='_blank' rel='noopener noreferrer'>Verdes</a> (now <a href='http://www.combo.co/' target='_blank' rel='noopener noreferrer'>Combo</a>) (NYC)
        </h3>
        <ul class="work-details">
          <li class="work-position">
            Design Intern, Summer 2018
          </li>
          <li class="work-projects">
            <ul>
              <li><a href="#" target="_blank">TINY Pop-Up Shop</a> (concept, design, production, execution)</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <h2>Formal Education</h2>
    <ul>
      <li class="workplace">
        <h3>
          <a href='https://risd.edu' target='_blank' rel='noopener noreferrer'>Rhode Island School of Design</a>
        </h3>
        <ul class="work-details">
          <li class="work-position">
            BFA Graphic Design, 2020
          </li>
          <li class="work-projects">
            <ul>
              <li><a href="#">Class of 2020 Yearbook</a></li>
              <li><a href="#">Not Trajan™ Exhibition</a></li>
              <li><a href="#">Halloween Poster</a></li>
              <li><a href="#">Post-Contact</a></li>
              <li><a href="#">Untitled (Letterpess Poster)</a></li>
              <li><a href="#">RISD 1877 T-Shirt</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="workplace">
        <h3>
          <a href="https://www.charlotte.edu/">University of North Carolina at Charlotte</a>
        </h3>
        <ul class="work-details">
          <li class="work-position">
            (Graphic Design), 2014–2017
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
{% endblock %}