{% extends "includes/base.html" %}
{% set active_page = "contact" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/contact.css")}}>
{% endblock %}

{% block main %}
<div class="page-title">
  <h1>Contact</h1>
</div>

<div class="contact">
  <a class="btn" href="mailto:mail@jckfa.com" target="_blank">
    E-male mail@jckfa.com
  </a>
  
  <a class="btn" href="https://instagram.com/jckfa" target="_blank">
    DM @jckfa on Instergran
  </a>
</div>
{% endblock %}