{% extends "includes/base.html" %}
{% set active_page = "index" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/index.css")}}>
{% endblock %}

{% block main %}
  <div class="grid">
    {% for path in work_list %}
      {% if "front" in path.split('/')[-1].split('_')[0] %}
      <div class="grid-item {% for tag in path.split('/')[-1].split('_')[4].split('+') %}_{{ tag }} {% endfor %}">
        <a href="/project/{{path.strip('/static/img/').split('/')[-1].split('_')[1].replace('+', '-').lower()}}" target="_blank">
          <img src="{{path}}" alt=""/>
          <div class="caption">{{path.split('/')[-1].split('_')[2].replace('+', ' ')}}</div>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}