{% extends "includes/base.html" %}
{% set base_url = "/projects/" + project + "/" %}
{% set img_url = "https://img.jckfa.com" %}
{% set active_page = "work" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/project.css")}}>
<!-- <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@2/fullscreen.css"> -->
<style>
  .hero {
    background-image: url('https://img.jckfa.com{{base_url + hero}}');
  }
</style>
{% endblock %}

{% block main %}
<div class="project">
  <div class="col-wrapper project-header">
    <h1 class="col project-year">
      {% if year %}
        {{ year }}
      {% else %}
        20XX
      {% endif %}
    </h1>
    <!-- <h1 class="col project-type">
      {% if tags %}
        {{ tags }}
      {% else %}
        Untagged
      {% endif %}
    </h1> -->
    <h1 class="col project-title">
      {% if title %}
        {{ title }}
      {% else %}
        Untitled
      {% endif %}
    </h1>
  </div>
  <div class="hero"></div>
  {% block content %}
  {% endblock %}

  <div class="totop">
    <a class="btn notice" href="#top">
      Back to top
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- smooth scrolling-->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@16.1.3/dist/smooth-scroll.min.js"></script>

<script>
  var scroll = new SmoothScroll('a[href*="#"]', {
    speed: 100,
    easing: 'easeOutCubic'
});
</script>

<script>
  // toggle show-more visibility
  // function more(x) {
  //   // x.classList.toggle('hidden');
  //   x.classList.remove('hidden');
  // }

  // window.onscroll = function() {
  //   var x = document.getElementsByClassName('project-description')[0];

  //   if (document.documentElement.scrollTop > x.offsetTop) {
  //     x.classList.add("fix-bottom");
  //   } else {
  //     x.classList.remove("fix-bottom");
  //   }
  // }
</script>
{% endblock %}