{% extends "includes/base.html" %}
{% set base_url = "/projects/" + project + "/" %}
{# set img_url = "https://img.jckfa.com" #}
{% set active_page = "work" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/work.css")}}>
<link rel="stylesheet" href={{url_for("static", filename="css/project.css")}}>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
{% endblock %}

{% block main %}
<div class="project">
  <div class="project-header">
    <h1 class="project-title">
      {% if title %}
        {{ title }}
      {% else %}
        Untitled
      {% endif %}
    </h1>
    <!-- <div class="hero"></div> -->
    <div>Description not yet added. Credits not yet added.</div>
  </div>

  {# block content #}
  {# endblock #}

  <div class="grid">
    {% for path in work_list | shuffle %}
    {% if ".DS_Store" not in path %}
    <div class="grid-item">
      <a class="glightbox" href="https://img.jckfa.com{{url_for('static', filename=path.replace('static/', '', 1)) | replace('/static/img', '')}}">
        <!-- <img src="{{url_for('static', filename=path.replace('static/', '', 1))}}" alt=""/> -->
        <img src="https://img.jckfa.com{{url_for('static', filename=path.replace('static/', '', 1)) | replace('/static/img', '')}}" alt=""/>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {# block credits #}
  {# endblock #}

  <div class="totop">
    <a class="btn" href="#top">
      Back to top
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- smooth scrolling-->
<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@16.1.3/dist/smooth-scroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script>
  var scroll = new SmoothScroll('a[href*="#"]', {
    speed: 100,
    easing: 'easeOutCubic'
  });

  // init Packery
  var grid = document.querySelector('.grid');
  var pckry = new Packery(grid, {
    itemSelector: '.grid-item',
    percentPosition: true
  });

  // layout Packery after each image loads
  imagesLoaded(grid).on('progress', function () {
    pckry.layout();
  });
</script>

<script>
  // toggle show-more visibility
  // function more(x) {
  //   // x.classList.toggle('hidden');
  //   x.classList.remove('hidden');
  // }

  // window.onscroll = function() {
  //   var x = document.getElementsByClassName('project-description')[0];

  //   if (document.documentElement.scrollTop > x.offsetTop) {
  //     x.classList.add("fix-bottom");
  //   } else {
  //     x.classList.remove("fix-bottom");
  //   }
  // }

  // https://github.com/biati-digital/glightbox
  const lightbox = GLightbox({
    loop: true,
    autoplayVideos: true
  });
</script>
{% endblock %}