{% extends "includes/base.html" %}
{% set base_url = "img/" + project + "/" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/project.css")}}>
<!-- <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@2/fullscreen.css"> -->
<style>
  .hero {
    background-image: url('{{url_for("static", filename=base_url + hero)}}');
  }
</style>
{% endblock %}

{% block main %}
<div class="page-title">
  {% if title %}
  <h1>{{ title }}</h1>
  {% else %}
  <h1>{{ hero.split("_")[2].replace("+", " ") }}</h1>
  {% endif %}
</div>
<div class="project">
  {% block content %}
  {% endblock %}

  <div class="center">
    <a class="notice" href="#top">
      Back to top
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- smooth scrolling-->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@16.1.3/dist/smooth-scroll.min.js"></script>

<script>
  var scroll = new SmoothScroll('a[href*="#"]', {
    speed: 100,
    easing: 'easeOutCubic'
});
</script>
{% endblock %}