{% extends "includes/base.html" %}
{% set active_page = "shop" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/shop.css")}}>
{% endblock %}

{% block main %}
<div class="shop">
  <div class="temp">
    <p>Shop page coming soon. Find retail fonts on the <a class="btn-lite" href="https://jackf.me/fonts/" target="_blank">older website here</a>.</p>
  </div>
  <!-- <div class="item">
    <a href="products/Feeeels+Fuzzy+Typeface">
      <img src="{{url_for('static', filename='img/products/Feeeels+Fuzzy+Typeface/1.png')}}" alt=""/>
      <p class="item-title">Title</p>
    </a>
  </div>
  <div class="item">
    <a href="/tiny/">
      <img src="{{url_for('static', filename='img/products/tiny/test.png')}}" alt=""/>
      <p class="item-title">Title</p>
    </a>
  </div> -->
</div>
{% endblock %}