{% extends "includes/base.html" %}
{% set active_page = "work" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href={{url_for("static", filename="css/work.css")}}>
{% endblock %}

{% block main %}
  <div class="notice">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
    <path d="M2,42L24,4l22,38H2z M7.2,39h33.6L24,10L7.2,39z M24.2,36.15c0.433,0,0.792-0.142,1.075-0.425S25.7,35.083,25.7,34.65
      c0-0.433-0.142-0.792-0.425-1.075S24.633,33.15,24.2,33.15c-0.433,0-0.792,0.142-1.075,0.425c-0.283,0.283-0.425,0.642-0.425,1.075
      c0,0.433,0.142,0.792,0.425,1.075S23.767,36.15,24.2,36.15z M22.7,30.6h3V19.4h-3V30.6z"/>
    </svg>
    <p>This website is under active development. Many parts are missing or broken. Last updated on 11 Oct, 2022. See the <a class="btn-lite" href="https://jackf.me" target="_blank">older version here</a>.</p>
  </div>
  <div class="grid">
    {% for path in work_list | shuffle %}
      {% if "front" in path.split('/')[-1].split('_')[0] %}
      <div class="grid-item {% for tag in path.split('/')[-1].split('_')[4].split('+') %}_{{ tag }} {% endfor %}">
        <a href="/projects/{{path.strip('/static/img/projects/').split('/')[-1].split('_')[1]}}">
          <img src="https://img.jckfa.com{{path.replace('static/img', '')}}" alt=""/>
          <div class="caption">{{path.split('/')[-1].split('_')[2].replace('+', ' ')}}</div>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<script>
  // init Packery
  var grid = document.querySelector('.grid');
  var pckry = new Packery(grid, {
    itemSelector: '.grid-item',
    percentPosition: true
  });

  // layout Packery after each image loads
  imagesLoaded(grid).on('progress', function () {
    pckry.layout();
  });

  // init Isotope
  var elem = document.querySelector('.grid');
  var iso = new Isotope( elem, {
    // options
    itemSelector: '.grid-item',
  });

  // filter functions
  var filterFns = {};

  // bind filter button click
  var filtersElem = document.querySelector('.filters-button-group');
  filtersElem.addEventListener( 'click', function( event ) {
    // only work with buttons
    if ( !matchesSelector( event.target, 'button' ) ) {
      return;
    }
    var filterValue = event.target.getAttribute('data-filter');
    // use matching filter function
    filterValue = filterFns[ filterValue ] || filterValue;
    iso.arrange({ filter: filterValue });
  });

  // change is-checked class on buttons
  var buttonGroups = document.querySelectorAll('.button-group');
  for ( var i=0, len = buttonGroups.length; i < len; i++ ) {
    var buttonGroup = buttonGroups[i];
    radioButtonGroup( buttonGroup );
  }

  function radioButtonGroup( buttonGroup ) {
    buttonGroup.addEventListener( 'click', function( event ) {
      // only work with buttons
      if ( !matchesSelector( event.target, 'button' ) ) {
        return;
      }
      buttonGroup.querySelector('.is-checked').classList.remove('is-checked');
      event.target.classList.add('is-checked');
    });
  }
</script>
{% endblock %}